body {
  font-family: Arial, sans-serif;
  padding: 16px;
}

button {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
}

.prod {
  background-color: #ffcccc;
}

.nonprod {
  background-color: #ccffff;
}

.readonly {
  background-color: #ccffcc;
}
